* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Navigation bar */
.navbar {
    background-color: #6f7681;
}

.navbar-cart {
    width: 110px;
    height: 40px;
    background-color: #00d1cd;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.navbar-cart-price {
    position: relative;
    left: 10px;
    top: 6px;
}

.navbar-cart-items {
    position: relative;
    left: 10px;
    top: 6px;
}

.navbar-nav li {
    font-size: 20px;
}

.navbar-nav li a h4 {
    color: #ffffff;
}

.navbar-search-bar .btn {
    background-color: #ced4db;
    border-color: #00d1cd;
    border-width: 3px;
}

.navbar-secondary-box {
    max-width: 100%;
    height: 30px;
    background-color: #444444;
    position: relative;
    top: 0px;
}



/* Footer */
.footer {
    background: #444444;
}

.custom-image {
    width: 40px;
    height: auto;
    position: relative;
}

.rounded-iframe-container {
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio (h/w) */
    height: 0;
}

.rounded-iframe {
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Adjusted margin for social icons */
.social-icons {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
}

/* Adjusted margin for logo-no-background.png */
.logo-no-background {
    max-width: 100%;
    /* Set maximum width to 100% */
    height: auto;
    margin-top: -40px;
    margin-bottom: -50px;
    margin-left: 30px;
}

footer,
p {
    font-size: 1.25rem;
    line-height: 1.75;
    color: #fff;
}

footer,
h4 {
    font-size: 2rem;
    line-height: 1.2;
    color: #fff;
}

footer a {
    text-decoration: none;
}

body {
    margin: 0;
}

/* Increase space above footer on smaller screens */
@media (max-width: 767px) {
    footer {
        margin-top: 20px;
    }
}

/* Adjust margin for social icons on smaller screens */
@media (max-width: 575px) {
    .social-icons {
        margin-top: 5px;
    }
}

/* Adjusted margin for logo-no-background.png on smaller screens */
@media (max-width: 575px) {
    .logo-no-background {
        margin-top: -20px;
        margin-bottom: -30px;
        margin-left: 15px;
    }
}

/* Adjust font sizes on smaller screens */
@media (max-width: 575px) {
    p {
        font-size: 1rem;
        line-height: 1.5;
    }

    h4 {
        font-size: 1.5rem;
        line-height: 1.2;
    }
}

/* Adjusted font sizes for smaller screens */
@media (max-width: 480px) {
    p {
        font-size: 0.9rem;
    }

    h4 {
        font-size: 1.2rem;
    }
}






/* HOME PAGE */
/* Banner */
.home-banner {
    width: 100%;
    height: auto;
}

.home-banner-box {
    width: 500px;
    height: 130px;
    background-color: rgba(68, 68, 68, 0.9);
    border-color:rgba(68, 68, 68, 0.9);;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 100px;
    top: 250px;
    padding: 10px 0;
    text-align: center;
    color: #ffffff;
    border-width: 3px;
    border-style: solid;
}

.home-banner-box2 {
    width: 200px;
    height: 70px;
    background-color: rgba(68, 68, 68, 0.9);
    border-color:rgba(68, 68, 68, 0.9);;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 100px;
    top: 400px;
    color: #ffffff;
    line-height: 100px;
    text-align: center;
    padding: 12px 0;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
    border-width: 3px;
    border-style: solid;
}


.home-banner-box2:hover {
    background-color: #00d1cd;
    border-color: #00d1cd;
}

@media only screen and (max-width: 1000px) {
    .home-banner-box {
        display: none;
    }

    .home-banner-box2 {
        display: none;
    }
}



/* Categories */
.categories-block {
    height: 50px;
    background-color: #969ea8;
    position: relative;
    top: 0px;
    text-align: center;
}

.categories-block h5 {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.category-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    background-color: #cdd4da;
    position: relative;
    text-align: center;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
}

.category-box {
    width: 250px;
    height: 250px;
    margin: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    overflow: hidden;
}

.category-box:hover {
    transform: scale(1.15);
}

.category-image {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.category-text p {
    font-size: 1.2rem;
    margin: 10px 0;
}



/* Popular Products */
.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    background-color: #cdd4da;
    position: relative;
    text-align: center;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
}

.product-box {
    background-color: #7f8389;
    border: #7f8389;
    border-radius: 10px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 0px;
    margin-top: 30px;
    margin-bottom: 10px;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-box p {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1.25rem;
}

.product-box:hover {
    transform: scale(1.15);
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-box button.btn-primary {
    background-color: #a8afb7;
    border-color: #a8afb7;
}






/* SHOP PAGE */
.next-link-block {
    height: 50px;
    background-color: #969ea8;
    position: relative;
    padding-top: px;
    top: 0px;
    text-align: center;
}

/* Floating Menu Styles */
.floating-menu {
    position: fixed;
    top: 50%;
    left: -280px; /* Adjust this value to control the initial visibility */
    padding: 10px;
    transform: translateY(-50%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    background-color: #f6f6f4;
    border-color:#a6afb7;
    border-width: 2px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease;
}
.floating-menu.active {
    left: 0;
}
.floating-menu.active .menu-content {
    max-height: none;
}
.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.menu-icon {
    display: block;
    width: 300px;
    height: 6px;
    background-color: #a6afb7;
    margin: 6px auto;
}

.menu-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    position: relative;
    top: 0;
    max-height: 800px; /* Adjust as needed */
    overflow: hidden;
}

.menu-items {
    list-style-type: none;
    padding: 0;
}

.menu-items li {
    padding: 10px 20px;
}

.menu-items a {
    text-decoration: none;
    color: #333;
    font-size: 24px;
    display: block;
}
.menu-items label {
    font-size: 24px; 
}

.menu-items input[type="radio"] {
    width: 30px; 
    height: 30px; 
}

.menu-items input[type="radio"]::before {
    width: 24px;
    height: 24px; 
}

/* Show menu on hover or click */
.floating-menu.active .menu-content {
    max-height: 800px; /* Adjust as needed */
}

@media only screen and (max-width: 1000px) {
    .floating-menu {
        display: none;
    }
}






/* PRODUCT PAGE */
.product-display {
    position: relative;
    border-radius: 5px;
  }
  
  .product-display .prev-button,
  .product-display .next-button {
    position: relative;
    background-color: rgba(68, 68, 68, 0.6);
    border-color:rgba(68, 68, 68, 0.4);;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .product-display .prev-button {
    left: 10px;
  }
  
  .product-display .next-button {
    right: 10px;
  }
  
  .prev-button,
  .next-button {
    margin-top: 10px;
    font-weight: bold;
  }

  .name-box {
    background-color: #7f8388;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    
}
.description {
    background-color: #a6afb7;
    padding: 40px;
    border: 1px solid #ccc;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 5px;
    text-align: left;
}


.image-container {
    position: relative;
    display: inline-block;
}

.price-button {
    position: relative;
    background-color: #a6afb7;
    color: #fff;
    margin-top: 10px;
    border: none;
    padding: 10px 200px;
    border-radius: 5px;
    cursor: none;
    font-weight: bold;
}

.add-to-cart-button {
    position: relative;
    background-color: #a6afb7;
    color: #fff;
    margin-top: 10px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.add-to-cart-button:hover {
    background-color: #009e9a;
}






/* CART PAGE */
.product-image img {
    max-width: 175px;
    height: 175px;
}

.product-details {
    margin-left: 20px; /* Added margin to separate product details from image */
}

.quantity,
.price {
    margin-top: 10px;
}

.remove-item {
    align-self: center;
    cursor: pointer;
}

.cart-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 15px;
    color: white;
    background-color: #a8afb7;
    border-color: #a8afb7 ;
}

.cart-item .product-image {
    margin-right: 20px;
}

.total {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
    background-color: #a8afb7;
    color: white;
    text-align: left;

}


.checkout-button button {
    padding: 10px 20px;
    background-color: #a8afb7;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    
}






/* ABOUT PAGE */
.about-text h2 {
    margin-bottom: 25px;
}

.about-text p {
    color: black;
}

.staff-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    background-color: #cdd4da;
    position: relative;
    text-align: center;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.staff-box {
    background-color: #7f8389;
    border: #7f8389;
    border-radius: 10px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 0px;
    margin-top: 30px;
    margin-bottom: 0px;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.staff-name p {
    margin-top: 10px;
    margin-bottom: -10px;
    font-weight: bold;
    font-size: 1.25rem;
}

.staff-role p {
    margin-bottom: 0;
    font-weight: 300;
    font-size: 1.0rem;
}

.staff-image {
    width: 80%;
    height: 80%;
    object-fit: cover;
    background-color: #fff;
    align-self: center;
}






/* CONTACT PAGE */
.contact-banner {
    width: 100%;
    height: auto;
}

.contact-banner-text {
    position: absolute;
    left: 325px;
    top: 450px;
    color: #ffffff;
    font-weight: 500;
}

.contact-information p,
h4 {
    color: black;
}

.contact-form-title {
    margin-bottom: 40px;
}

.contact-form-name1,
.contact-form-name2,
.contact-form-email,
.contact-form-phone {
    float: left;
    width: 40%;
}

.contact-form-message {
    width: 40%;
}

.contact-form-name2,
.contact-form-phone {
    padding: 0 20px;
}