* {

}

/* Index Page */

.navbar {
    background-color: #6f7681;
}

.navbar-cart {
    width: 110px;
    height: 40px;
    background-color: #00d1cd;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.navbar-cart-price {
    position: relative;
    left: 10px;
    top: 6px;
}

.navbar-cart-items {
    position: relative;
    left: 10px;
    top: 6px;
}

.navbar-nav li {
    font-size: 20px;
}

.navbar-nav li a h4 {
    color: #ffffff;
}

.navbar-search-bar .btn {
    background-color: #ced4db;
    border-color: #00d1cd;
    border-width: 3px;
}

.navbar-secondary-block {
    width: 100vw;
    height: 50px;
    background-color: #444444;
    position: relative;
    top: 0px;
}

.custom-image {
    width: 40px; /* Set a custom width */
    height: auto; /* Maintain aspect ratio */
}

/* Adjust iframe */
.rounded-iframe {
    border-radius: 15px;
    height: 170px;
}

/* Aspect ratio for social media icons */
.social-icons img {
    width: 45px;
    height: auto;
}

/* Adjusted margin for social icons */
.social-icons {
    margin-top: -20px;
    margin-bottom: 10px;
    margin-left: 25px;
}

/* Adjusted margin for logo-no-background.png */
.logo-no-background {
    margin-top: -50px;
    margin-bottom: -30px;
}

/* Adjust font sizes */
p {
    font-size: 1.25rem;
    line-height: 1.75;
    color:#fff
}
h4 {
    font-size: 2rem;
    line-height: 1.2;
    color:#fff
}

/* Add margin between social icons */
.social-icons a {
    margin-right: 15px;
}

a {
    text-decoration: none;
}